@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style  */
.description-txt {
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;

  margin-bottom: 32px;
}
.h3-header {
  color: rgb(13, 19, 33);

  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  margin-bottom: 24px;
}

.h4-header {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
/* nav bar style start  */
nav {
  width: 1176px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

nav h2 {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
}

nav .nav-btn {
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px;
  cursor: pointer;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
}

/* hero section style start  */
.hero {
  background-image: url("./assets/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 26px 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero img {
  width: 240px;
}
.hero h2 {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.hero p {
  text-align: center;
}

.hero .contact-btn {
  color: rgb(255, 255, 255);
  padding: 21px 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  text-decoration: none;
}
/* hero section style end  */

/* why dev section style start  */
.why-dev {
  margin: 74px 148px;
  padding: 0 97px; /*80px 97px*/
}
.why-dev .why-dev-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
}

.why-dev .why-dev-header p {
  text-align: center;
}

.why-dev .why-dev-card {
  display: flex;
  flex-direction: row;

  padding: 48px;
  align-items: center;
  justify-content: space-between;
}

.why-dev-card .card-content {
  width: 477px;

  height: 220px;
}

.why-dev-card .card-content .learnmore-btn {
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px;
  cursor: pointer;

  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.why-dev-card .card-img img {
  width: 260px;
}
/* why dev section style end  */

/* my inspiration section style start  */
.my-inspiration {
  margin: 74px 148px;
  padding: 0 97px; /*80px 97px*/
}

.my-inspiration .my-inspiration-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 48px;
}

.my-inspiration .my-inspiration-header p {
  text-align: center;
}

.my-inspiration .video {
  width: 100%;
  /* height: 614px; */
  text-align: center;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin-top: 0px;
}
.my-inspiration .video iframe {
  border-radius: 16px;
}

/* my inspiration section style end  */

/* my current target styles start  */
.my-current-target {
  margin: 74px 148px;
  padding: 0 97px; /*80px 97px*/
}

.my-current-target .my-current-target-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 48px;
}
.my-current-target .my-current-target-header p {
  text-align: center;
}

.my-current-target .my-current-target-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.my-current-target .my-current-target-cards .card {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.my-current-target .my-current-target-cards .card img {
  width: 40px;
  margin-bottom: 10px;
}

.my-current-target .my-current-target-cards .card h3 {
  color: rgba(13, 19, 33);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}

.my-current-target .my-current-target-cards .card a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

/* my current target styles end  */

/* i-need-support section styles start  */

.i-need-support {
  width: 1140px;
  height: 315px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 48px;
  background-image: url("./assets/handshake.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  border-radius: 16px;
  background-color: rgba(0,0,0,0.2);
  /* opacity: 0.2; */
  /* background-blend-mode:overlay; */
}

.i-need-support h3 {
  color: white;
}
.i-need-support p {
  color: white;
}

.i-need-support form input {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  width: 548px;
  background: rgb(255, 255, 255);
  padding: 20px;
}
.i-need-support form button {
  color: rgb(13, 19, 33);
  padding: 17px 20px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

/* i-need-support section styles end  */

/* footer section styles start  */
footer {
  width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .social-link {
  display: flex;
  justify-content: space-around;
  margin: 0 10px;
  width: 157px;
  height: 36px;
  margin-bottom: 100px;
}
footer .social-link a img {
  width: 25px;
}
