@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style  */
.description-txt {
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;

  margin-bottom: 32px;
}
.h3-header {
  color: rgb(13, 19, 33);

  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  margin-bottom: 24px;
}

.h4-header {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}

/* hero section style start  */
.hero {
  background-image: url("/assets/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 26px 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero img {
  width: 240px;
}
.hero h2 {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.hero p {
  text-align: center;
}

.hero .contact-btn {
  color: rgb(255, 255, 255);
  padding: 21px 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgb(13, 19, 33);
}
/* hero section style end  */

/* why dev section style start  */
.why-dev {
  margin: 74px 148px;
  padding: 0 97px; /*80px 97px*/
}
.why-dev .why-dev-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
}

.why-dev .why-dev-header p {
  text-align: center;
}

.why-dev .why-dev-card {
  display: flex;
  flex-direction: row;

  padding: 48px;
  align-items: center;
  justify-content: space-between;
}

.why-dev-card .card-content {
  width: 477px;

  height: 220px;
}

.why-dev-card .card-content .learnmore-btn {
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px;
  cursor: pointer;

  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.why-dev-card .card-img img {
  width: 260px;
}
/* why dev section style end  */

/* my inspiration section style start  */
.my-inspiration {
  margin: 74px 148px;
  padding: 0 97px; /*80px 97px*/
  
}

.my-inspiration .my-inspiration-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 48px;
}

.my-inspiration .my-inspiration-header p {
  text-align: center;
}

.my-inspiration .video {
  width: 100%;
  /* height: 614px; */
  text-align: center;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin-top: 0px;
}
.my-inspiration .video iframe{
  border-radius: 16px;
}

/* my inspiration section style end  */

